<!-- Loop over each object in the blogposts array -->
{{#each blogposts as |blogpost| }}
<div class="blogPost">
  {{!-- "row mb-4 blogpost" --}}
  <div class="blogTitle">
    {{!-- class="col-md-5" --}}
    <span class="titleLine">
      <a id="white" href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </span>
    <span class="titleLine" id="author">Posted by {{blogpost.user.username}} on {{format_date blogpost.date_created}}</span>
  </div>
  <div class="col-md-7">
    <p>
      {{blogpost.content}}
    </p>
  </div>
</div>
<div class="space"></div>
{{/each}}

